<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    
    <p> <%= productList %></p>
  </body>
</html>
